@import '../../_settings';

.app {
  $playerHeight: 100px;
  $rightSidebarWidth: 300px;
  $sidebarWidth: 200px;

  .app__draggablearea {
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 22px;
  }

  .app__sidebar {
    position: absolute;
    top: $playerHeight;
    left: 0;
    bottom: 0;
    width: $sidebarWidth;
  }

  .app__player {
    $container-separation: 20px;
    $max-width: 675px + 2 * $container-separation;

    height: $playerHeight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: $max-width;
    padding: 0 $container-separation;
    margin: 0 auto;
  }

  .app__sidebar,
  .app__middlesection,
  .app__rightsection {
    border-top: 1px solid $colorBorderSeparator;
  }

  .app__middlesection,
  .app__rightsection {
    position: absolute;
    top: $playerHeight;
    bottom: 0;
  }

  .app__middlesection {
    left: $sidebarWidth;
    right: $rightSidebarWidth;
    border-left: 1px solid $colorBorderSeparator;
    border-right: 1px solid $colorBorderSeparator;
  }

  .app__rightsection {
    right: 0;
    width: $rightSidebarWidth;
  }
}
