///////////
// Fonts //
///////////

$fontFamily: 'Helvetica Neue', Helvetica, Arial;

////////////
// Colors //
////////////

$colorRedish: #d0011b;
$colorText: #fff;

$colorPrimary: #000;
$colorSecondary: $colorRedish;
$colorTertiary: #222;

$colorBorderSeparator: #2f2f2f;
