///////////
// Fonts //
///////////

$fontFamily: 'Helvetica Neue', Helvetica, Arial;

////////////
// Colors //
////////////

$colorRedish: #d0011b;
$colorText: #fff;

$colorPrimary: #000;
$colorSecondary: $colorRedish;
$colorTertiary: #222;
$colorHighlighted: #0469d9;
// $colorSelected: #4add8c;
$colorSelected: #229c59;
$colorUnfocused: #dcdcdc;

$colorBorderSeparator: #2f2f2f;
